<!DOCTYPE html>
<html lang="en">
    <!-- head -->
	<%- include( 'partials/head.ejs', { page: 'Posts' } ) %> 
    <body>  
		<%- include( 'partials/nav.ejs' )  %>

        <section>
            <div>
                <h2 class="title">All Instagram Posts</h2>
            </div>
        </section>

        <main class="container">
            <% posts.forEach((post) => { %>
                <div class="post-container">
                    <p class="post-username">Posted by: <%= post.user._id %></p>
                    <img class="post-image" src="<%= post.image %>" alt="<%= post.title %>">
                    <h2 class="post-title">Title: <%= post.title %></h2>
                    <p class="post-likes">Likes: <%= post.likes %></p>
                    <a href="/posts/<%= post._id %>" class="post-comments-link">See the comments</a>
                </div>
            <% }) %>
        </main>
    
	</body>
</html>