<!DOCTYPE html>
<html lang="en">

<!-- head -->
<%- include( 'partials/head.ejs' )  %>

<body>
    <%- include( 'partials/nav.ejs' )  %>

    <section>
        <div>
            <h2 class="title">Instagram post by: <%=post.user.username%>
            </h2>

        </div>
    </section>

    <main class="container">
        <div>
            <h4>User: <%= post.user.username %></h4>
            <h6>Post created: <%= post.createdAt %></h6>
            <img src="<%= post.image %>" style="max-width: 500px;" />
            <p>Post title: <%= post.title %> </p>
            <p>Post likes: <%= post.likes %> </p>
            <ul>
                <% for (let i = 0; i < comments.length; i++) { %>
                    <li>Written by: <%= comments[i].user.username %>, Content: <%= comments[i].content %>, Comment created: <%= comments[i].createdAt %> </li>
                <% } %>
            </ul>
        </div>

<!-- This is a stretch feature according to eric 
    since user authorization issues(?)

            <div class = "deleteButton">
                <p class="control">
                    <form action="/posts/<= id %>?_method=DELETE" method="POST">
                            <input class="button is-danger" type="submit" value="Delete Post"/>                    
                    </form>
                </p>
-->

        <section>
            <h2>Add a new comment</h2>
            <form method="POST" action="/posts/<%= post._id %>">
    
                <div>
                    Comment: 
                    <input name="content" 
                        type="string" 
                        placeholder="Enter your comment"/>
                </div>
                <div>
                    <input 
                        type="hidden" 
                        name="user" 
                        value="<%= currentUser.id %>" />
                </div>
                <div>
                    <input 
                        type="hidden" 
                        name="post" 
                        value="<%= post._id %>" />
                </div>

                <button type="submit">Add your comment</button>
            </form>
        </section>
    </main>

</body>

</html>