<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head', {page: 'My Profile'})  %>
    <body>
    <%- include('../partials/nav')  %>

        <section>
            <div>
                <h2 class="title"> <%= user.username %>'s Profile</h2>
            </div>
        </section>

    <main class="container">
        <div>
            <% posts.forEach((post) => { %>
                <div class="post-container">
                    <img class="post-image" src="<%= post.image %>" alt="<%= post.title %>">
                    <h2 class="post-title">Title: <%= post.title %></h2>
                    <p class="post-date"> Date posted: <%= post.createdAt %></p>
                    <p class="post-likes">Likes: <%= post.likes %></p>
                    <a href="/posts/<%= post._id %>" class="post-comments-link">See the comments</a> </div>
            <% }) %>
        </div>
    </body>

