<!DOCTYPE html>
<html lang="en">
    <!-- head -->
	<%- include( '../partials/head.ejs', { page: 'Posts' } ) %> 
    <body>  
		<%- include( '../partials/nav.ejs' )  %>

        <section>
            <div>
                <h2 class="title">All Posts</h2>
            </div>
        </section>

        <main class="container">
            <% posts.forEach((post) => { %>
                <div class="post-container">
                    <div class="post-header">
                        <p class="post-username"><a href="/users/<%= post.user._id%>"><%= post.user.username %></a></p>
                    </div>
                    <img class="post-image" src="<%= post.image %>" alt="<%= post.title %>">
                    <div class="post-content">
                        <div class="post-icons">
                            <div class="post-icons-left">
                                <form method="POST" action="/posts/<%= post._id %>?_method=PUT">
                                    <input 
                                    type="hidden" 
                                    name="likes" 
                                    value="<%= post.likes + 1 %>" />
                                    <input 
                                    type="hidden" 
                                    name="currentUserId" 
                                    value="<%= currentUser.id %>" />
                                    <button type="submit">
                                        <% if (!post.likedBy.includes(currentUser.id)) { %>
                                            <i class="far fa-heart fa-2x"></i>
                                        <% } else { %>
                                            <i class="fas fa-heart fa-2x" style="color: red"></i>
                                        <% } %>
                                    </button>
                                </form>
                                <a href="/posts/<%= post._id %>"><i class="far fa-comment fa-2x"></i></a>
                            </div>
                        </div>
                        <p class="post-likes"><%= post.likes %> likes</p>
                        <div>
                            <p class="post-username"><a href="/users/<%= post.user._id%>"><%= post.user.username %></a>:</p>
                            <h2 class="post-title"><%= post.title %></h2>
                        </div>
                        <p class="post-date"><%= post.createdAt %></p>
                        <% let commentCounter = 0 %>
                        <% comments.forEach((comment) => { %>
                            <% if (comment.post._id.toString() === post._id.toString()) { %>
                                <% commentCounter++ %>
                            <% } %>
                        <% }) %>
                        <a href="/posts/<%= post._id %>" class="post-comments-link">View all <%= commentCounter %> comments</a>
                    </div>
                </div>
            <% }) %>
        </main>
    
	</body>
</html>