<!DOCTYPE html>
<html lang="en">

<!-- head -->
<%- include( '../partials/head.ejs' )  %>

<body>
    <%- include( '../partials/nav.ejs' )  %>

    <section>
        <div>
            <h2 class="title">Instagram post by: <a href="/users/<%= post.user._id %>"> <%=post.user.username%> </a>
            </h2>

        </div>
    </section>

    <main class="container">
        <div class="post-container">
            <div class="post-header">
                <p class="post-username"><a href="/users/<%= post.user._id%>"><%= post.user.username %></a></p>
            </div>
            <img class="post-image" src="<%= post.image %>" alt="<%= post.title %>">
            <div class="post-content">
                <div class="post-icons">
                    <div class="post-icons-left">
                        <form method="POST" action="/posts/<%= post._id %>?_method=PUT">
                            <input 
                            type="hidden" 
                            name="likes" 
                            value="<%= post.likes + 1 %>" />
                            <input 
                            type="hidden" 
                            name="currentUserId" 
                            value="<%= currentUser.id %>" />
                            <button type="submit">
                                <% if (!post.likedBy.includes(currentUser.id)) { %>
                                    <i class="far fa-heart fa-2x"></i>
                                <% } else { %>
                                    <i class="fas fa-heart fa-2x" style="color: red"></i>
                                <% } %>
                            </button>
                        </form>
                        <a href="/posts/<%= post._id %>"><i class="far fa-comment fa-2x"></i></a>
                    </div>
                    <div class="post-icons-right">
                        <% if (post.user._id == currentUser.id) { %>
                            <form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
                                <button type="submit">
                                    <i class="fa fa-trash fa-2x"></i>
                                </button>
                            </form>
                        <% }%>
                    </div>
                </div>
                <p class="post-likes"><%= post.likes %> likes</p>
                <div>
                    <p class="post-username"><a href="/users/<%= post.user._id%>"><%= post.user.username %></a>:</p>
                    <h2 class="post-title"><%= post.title %></h2>
                </div>
                <p class="post-date"><%= post.createdAt %></p>
                <form method="POST" action="/posts/<%= post._id %>" class="
                    add-comment-form">
        
                        <input name="content"
                            id="content" 
                            type="string" 
                            placeholder="Add a new comment..."/>
                        <input 
                            type="hidden" 
                            name="user" 
                            value="<%= currentUser.id %>" />
                        <input 
                            type="hidden" 
                            name="post" 
                            value="<%= post._id %>" />
    
                    <button type="submit">Post</button>
                </form>
                <h2>Comments</h2>
                <ul>
                    <% for (let i = 0; i < comments.length; i++) { %>
                        <li class="comment-li">
                            <div>
                                <div>
                                    <p class="comment-username">
                                        <a href=""><%= comments[i].user.username %></a>
                                    </p>
                                    <p class="comment-date"><%= comments[i].createdAt %></p>
                                </div>
                                <% if (comments[i].user._id == currentUser.id) { %>
                                    <div class="comment-buttons">
                                        <a href="/posts/<%= post._id %>/comments/<%= comments[i]._id %>/edit">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                        <form action="/posts/<%= post._id %>/comments/<%= comments[i]._id %>?_method=DELETE" method="POST">
                                            <button type="submit">
                                                <i class="fa fa-trash"></i>
                                            </button> 
                                        </form>
                                    </div>
                                <% } %>
                            </div>
                            <p class="comment-content"><%= comments[i].content %></p>
                        </li>
                        
                        
                    <% } %>
                </ul>
            </div>
        </div>
    </main>

</body>

</html>